.App {
  text-align: center;
}

.App-header {
  background-color: #fb1010;
  min-height: 120px;
  padding:5px 0px  0px 0px;
  margin: 10px 0px  0px 0px;;
  color: white;
}

.App-title {
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.pizzaList {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  gap: 10px;
  margin: 20px;
  background-color: lightgray;
}
.pizzaItem {
  text-align: left;
  width: 200px;
  height: auto;
  margin: 10px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: lightgrey;
  filter: drop-shadow(5px 5px 2px lightgray);
}

.pizzaPrice {
  text-align: right;
}

nav {
  background-color: lightgray;
  color: black;
  
}

nav > ul {
  list-style-type: none;
  margin: 10px auto;
  width: 700px;
  
}

nav > ul li {
  display: inline-block;
  text-align: center;
  width: 160px;
}

nav > ul li a {
  display: block;
  padding: 10px;
  text-decoration: underline;
}

nav > ul li a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

nav > ul li a:visited {
  color: purple;
  background-color: transparent;
  text-decoration: none;
}

nav > ul li a:hover {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}

nav > ul li a:active {
  color: lightskyblue;
  background-color: transparent;
  text-decoration: underline;
}

.cartIcon {
  top: 100px;
  text-align: right;
  margin: 5px;
  font-size: 15px;
} 

.total {
  text-align: right;
  size: 20px;
  padding: 10px;
}

.footer {
  background-color: lightgrey;
  padding: 5px;
  margin-top: auto;
}
