.App-header {
  background-color: red;
  min-height: 110px;
  color: white;
  margin-top: 0px;
}

.App-title {
  padding-left: 50px;
  padding-top: 30px;
  text-align: center;
  font-size: 60px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.pizzaList {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  gap: 10px;
  margin: 20px;
  background-color: lightcoral;
}
.pizzaItem {
  
  width: 200px;
  height: auto;
  margin: 10px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: lightgrey;
  filter: drop-shadow(5px 5px 2px lightcoral);
}

nav {
  background-color: lightcoral;
  color: black;
  
}

nav > ul {
  margin: 10px 0px 0px 10px;
  
  
}

nav > ul li {
  display: inline-block;
  text-align: center;
}

nav > ul li a {
  display: block;
  padding: 10px;
  text-decoration: underline;
}

nav > ul li a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

nav > ul li a:visited {
  color: purple;
  background-color: transparent;
  text-decoration: none;
}

nav > ul li a:hover {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}

nav > ul li a:active {
  color: lightskyblue;
  background-color: transparent;
  text-decoration: underline;
}

.cartIcon {
  font-size: 15px;
} 

.total {
  font-size: 20px;
  padding: 15px;
  text-align: right;
}


.footer {
  background-color: lightcoral;
  padding: 1px;
  margin-top: auto;
}
